.messages-container {
  visibility: hidden;
  display: flex !important;
  justify-content: space-around;
  margin: 10px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 10px;

  .username-title {
    font-weight: 900;
  }
  .lastmessage-text {
    font-size: 14px;
  }
  .user-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 170px;
    height: 50px;
  }
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}
